version: '2'
services:
  nginx:
      image: 'wazo/nginx-ssl:latest'
      ports:
      - "80:80"
      - "443:443"
      volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
  wazo-auth:
    image: 'wazopbx/wazo-auth-mock:latest'
    command: ["/usr/local/bin/wazo-auth-mock.py", "9497", "/api/auth"]
    ports:
      - '9497:9497'
  wazo-router-confd:
    image: wazopbx/wazo-router-confd:latest
    command: "wazo-router-confd \
        --host 0.0.0.0 \
        --port 9600 \
        --advertise-host router-confd \
        --advertise-port 9600 \
        --consul-uri http://consul:8500 \
        --database-uri postgresql://wazo:wazo@postgresql:5432/wazo \
        --redis-uri redis://redis \
        --wazo-auth \
        --wazo-auth-url https://wazo-auth:9497/api/auth/0.1"
    ports:
    - 9600:9600
